/* Personally I dont know wtf im doing with this code */

@import url('https://fonts.googleapis.com/css2?family=Short+Stack&display=swap');

html {
    background: rgb(255, 167, 161);
    color: white;
    font-family: 'Short Stack', cursive;
    transition: .5s;
}

.button {
    transition: .5s;
}

img {
    width: 60%;
    margin: 0 auto auto auto;
    display: block;
    width: 125px;
}

@media screen and (min-width: 450px) {
    body {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .çontainer {
        display: grid;
        width: 50%;
        row-gap: 2%;
        margin: 0 auto;
    }

    .button {
        width: 100%;
        padding: 10px;
        text-align: center;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 1.75vw;
    }

    .text {
        text-align: center;
        font-size: 1.75vw;
    }
}

@media screen and (min-width: 800px) {
    body {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .çontainer {
        display: grid;
        width: 50%;
        row-gap: 2%;
        margin: 0 auto;
    }

    .button {
        width: 100%;
        padding: 10px;
        text-align: center;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 1.5vw;
    }

    .text {
        text-align: center;
        font-size: 2.2vw;
    }
}